{% load static %}
<div id="kt_header" class="header align-items-stretch">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">

        <!--begin::Mobile logo-->
        <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
            <a class="mb-0" href="{% url 'homepage' %}">
                <img alt="Logo" src="{% static 'assets/media/logo/ranquiz.svg' %}" class="h-125px" />
            </a>
        </div>
        <!--end::Mobile logo-->

        <!--begin::Wrapper-->
        <div class="d-flex align-items-stretch flex-lg-grow-1">
            <!--begin::Navbar-->
            <div class="d-flex align-items-stretch w-100" id="kt_header_nav">
                <!--TODO: Diseñar el navbar -->
            </div>
            <!--end::Navbar-->

            <!--begin::Toolbar wrapper-->
            <div class="d-flex align-items-stretch flex-shrink-0">
                <!--TODO: Diseñar las acciones del usuario -->
            </div>
            <!--end::Toolbar wrapper-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Container-->
</div>