{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="row h-100 g-5">
        <div class="pe-md-6 col-md-8 h-auto h-md-100">
            <div class="w-100 h-auto h-md-100 p-3 bg-primary-600 rounded position-relative">
                <div class="d-flex flex-column p-8 gap-10 h-100">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <h2 class="text-white m-0">Brawl Stars personajes</h2>
                        <a href="" class="d-flex gap-3 align-items-center">
                            <i class="text-white fs-2tx bi bi-person-circle"></i>
                            <label href="" class="text-white fw-bolder cursor-pointer">David Pérez Fernández</label>
                        </a>
                    </div>
                    <div class="bg-gray-500 w-100 h-100 rounded min-h-100px">
                        <img class="w-100 h-100" alt="" src="" style="object-fit: cover">
                    </div>
                    <div class="d-flex align-center justify-content-center gap-20">
                        <div class="d-flex flex-column gap-3 align-items-center">
                            <div class="bg-white p-4 rounded-circle">
                                <i class="fs-2x text-muted bi bi-controller"></i>
                            </div>
                            <label class="text-white fw-bolder fs-3">2351</label>
                        </div>
                        <div class="d-flex flex-column gap-3 align-items-center">
                            <div class="bg-white p-4 rounded-circle cursor-pointer hover-icon-color-coral">
                                <i class="fs-2x text-muted bi bi-heart-fill mt-3"></i>
                            </div>
                            <label class="text-white fw-bolder fs-3">1500</label>
                        </div>
                        <div class="d-flex flex-column gap-3 align-items-center">
                            <div class="bg-white p-4 rounded-circle cursor-pointer hover-icon-color-lightyellow">
                                <i class="fs-2x text-muted bi bi-star-fill"></i>
                            </div>
                            <label class="text-white fw-bolder fs-3">203</label>
                        </div>
                    </div>
                    <div class="d-flex flex-sm-row flex-column gap-10 justify-content-between ps-10 pe-10 w-100">
                        <div class="d-flex flex-column gap-4 w-60">
                            <div class="d-flex flex-row text-white gap-3 fs-4">
                                <label class="fw-bolder">Elementos :</label>
                                <label>77</label>
                            </div>
                            <div class="d-flex flex-row text-white gap-3 fs-4">
                                <label class="fw-bolder">Creación :</label>
                                <label>Hace 27 días</label>
                            </div>
                            <div class="d-flex flex-row text-white gap-3 fs-4">
                                <label class="fw-bolder">Ultima edición :</label>
                                <label>77</label>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-3 text-white">
                            <label class="fw-bolder fs-3">Categorías:</label>
                            <div class="d-flex gap-3 flex-wrap mw-200px">
                                <span class="badge bg-white text-primary-800 fs-6">Brawlers</span>
                                <span class="badge bg-white text-primary-800 fs-6">Skins</span>
                                <span class="badge bg-white text-primary-800 fs-6">Mapas</span>
                                <span class="badge bg-white text-primary-800 fs-6">Mapas</span>
                                <span class="badge bg-white text-primary-800 fs-6">Mapas</span>
                            </div>
                        </div>
                    </div>
                    <a href="" class="d-flex justify-content-end position-absolute share-position">
                        <i class="fs-2x text-primary bi bi-share-fill bg-white p-4 rounded-circle border border-2 border-primary"></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="d-flex flex-column gap-3 col-md-4 p-6 primary-border rounded overflow-hidden">
            <div class="d-flex justify-content-between align-items-center">
                <h3>Comentarios</h3>
                <p class="fs-2 text-muted">1340</p>
            </div>

            <div class="d-flex gap-8 flex-column scrolleable" id="comments_container">
                <!-- Begin template comment -->
                <div class="d-none flex-column border border-1 border-gray-400 rounded p-5 gap-4 comment"
                     id="template_comment">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <a href="" class="d-flex flex-row gap-3 align-items-center justify-content-center author_group">
                            <div class="author_avatar">
                                <i class="text-muted fs-1 bi bi-person-circle"></i>
                            </div>
                            <label class="text-muted author_name cursor-pointer">David Pérez Fernández</label>
                        </a>
                        <div>
                            <label class="comment_date">Hace 3 m</label>
                        </div>
                    </div>

                    <label class="fs-5 comment_content">
                        Esta lista no está actualizada, faltan los brawlers de la nueva temporada.
                    </label>

                    <div class="d-flex flex-row gap-3 mt-2 award_container">

                        <div class="d-none gap-2 bg-info rounded-pill text-white p-1 ps-3 pe-3 align-items-center"
                             id="template_award">
                            <i class="fs-5 text-white bi award_icon"></i>
                            <label class="award_text">Útil</label>
                            <label class="ms-2 award_amount">3</label>
                        </div>

                        <button class="d-flex gap-3 bg-primary-500 rounded-pill text-white p-1 ps-3 pe-3 align-items-center cursor-pointer bg-hover-primary border-0">
                            <i class="text-white fs-5 bi bi-award cursor-pointer"></i>
                            Premiar
                        </button>

                    </div>

                </div>
                <!-- End template comment -->
            </div>
            <form class="mt-auto">
                <div class="d-flex flex-row border border-1 border-gray-400 rounded p-3 gap-4 align-items-center mt-3 bo">
                    <label class="w-100">
                        <div class="borderless-textarea">
                            <textarea rows="1" class="w-100 border-0 fs-5" placeholder="Añadir comentario..."
                                      data-kt-autosize="true"></textarea>
                        </div>
                    </label>
                    <i class="fs-2 bg-hover-secondary rounded-circle cursor-pointer text-primary bi bi-send p-2"></i>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'scripts/pages/list_details.js' %}" type="module"></script>
{% endblock %}