{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="card primary-shadow mw-400px m-auto mt-5">
        <div class="card-body">
            <div class="text-center mb-12">
                <h1 class="text-center fw-boldest">Iniciar Sesión</h1>
                <p class="text-muted">¿No tienes cuenta?, <a href="#" class="text-primary fw-bolder">Registrate ahora</a></p>
            </div>

            <form action="">
                <div class="mb-8">
                    <label for="email" class="form-label fw-bolder">Correo electrónico</label>
                    <input id="email" type="text" class="form-control form-control-solid" placeholder="name@example.com"/>
                </div>

                <div class="mb-10 " data-kt-password-meter="true">
                    <label for="password" class="form-label fw-bolder">Contraseña</label>
                     <!--begin::Input wrapper-->
                    <div class="position-relative mb-3">
                        <input class="form-control form-control-lg form-control-solid"
                            type="password" placeholder="" name="new_password" autocomplete="off" />

                        <!--begin::Visibility toggle-->
                        <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                            data-kt-password-meter-control="visibility">
                                <i class="ki-duotone bi bi-eye-slash fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                <i class="ki-duotone bi bi-eye d-none fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                        </span>
                        <!--end::Visibility toggle-->
                    </div>
                    <!--end::Input wrapper-->
                </div>
            </form>

            <div class="w-100 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary fw-bolder">Entrar</button>
            </div>
        </div>

    </div>



{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'scripts/pages/login.js' %}" type="module"></script>
{% endblock %}

