{% extends 'base/base.html' %}
{% load static %}



{% block content %}
<form class="w-100 d-flex justify-content-center flex-column align-items-center gap-15" method="post">
    <main class="bg-primary-300 p-10 w-100 rounded">
        <div class="row">
            <div class="col-lg-6 min-h-250px">
{#                <div class="w-100 h-100 bg-white border rounded border-secondary border-1"></div>#}
{#                <input id="image" type="file" class="d-none" accept="image/*">#}
{#                <label for="image" class="btn btn-primary position-absolute top-50 start-50 translate-middle">Elegir imagen</label>#}
                <!--begin::Image input-->
                <div class="image-input image-input-empty w-100 h-100" data-kt-image-input="true">
                    <!--begin::Image preview wrapper-->
                    <div class="image-input-wrapper w-100 h-100 bg-white border rounded border-secondary border-1" style="background-position: center"></div>
                    <!--end::Image preview wrapper-->

                    <!--begin::Edit button-->
                    <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                    data-kt-image-input-action="change"
                    data-bs-toggle="tooltip"
                    data-bs-dismiss="click"
                    title="Change avatar">
                        <i class="bi bi-pencil fs-6"></i>

                        <!--begin::Inputs-->
                        <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                        <input type="hidden" name="avatar_remove" />
                        <!--end::Inputs-->
                    </label>
                    <!--end::Edit button-->

                    <!--begin::Cancel button-->
                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                    data-kt-image-input-action="cancel"
                    data-bs-toggle="tooltip"
                    data-bs-dismiss="click"
                    title="Cancel avatar">
                        <i class="bi bi-x-lg fs-3"></i>
                    </span>
                    <!--end::Cancel button-->

                    <!--begin::Remove button-->
                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                    data-kt-image-input-action="remove"
                    data-bs-toggle="tooltip"
                    data-bs-dismiss="click"
                    title="Remove avatar">
                        <i class="ki-outline ki-cross fs-3"></i>
                    </span>
                    <!--end::Remove button-->
                </div>
                <!--end::Image input-->
            </div>

            <div class="col-lg-6 d-flex align-items-center flex-column justify-content-center p-15">
                <div class="mb-8 w-100">
                    <label for="name" class="form-label fw-boldest text-primary-800 required ">Nombre</label>
                    <input type="text" class="form-control text-black" id="name" maxlength="70" required />
                </div>

                <div class="mb-8 w-100">
                    <label for="type" class="form-label fw-boldest text-primary-800 required">Tipo</label>
                    <select class="form-select text-black" id="type" required data-hide-search="true"></select>
                </div>
            </div>
        </div>
    </main>

    <div class="row w-100 g-10">
        <div class="col-md-6 pe-18">
            <h1 class="fw-boldest">Elementos:</h1>

            <div id="items_container" class="d-flex gap-5 flex-column w-100 mt-5">
                <div class="d-flex w-100 align-items-center">
                    <label for="item_1_image" class="w-60px h-60px col-3 cursor-pointer bg-primary p-2 d-flex justify-content-center align-items-center rounded"><i class="bi bi-card-image text-white fs-1"></i></label>
                    <input type="file" id="item_1_image" class="d-none" accept="image/*"/>

                    <div class="col-9 pe-10 ps-10">
                        <label for="item_1_name" class="form-label fw-boldest">Nombre</label>
                        <input type="text" class="form-control text-black" id="item_1_name"/>
                    </div>

                    <div class="col-1 d-flex justify-content-center align-items-end h-40px">
                        <i class="bi bi-trash text-gray-400 fs-1 cursor-pointer hover-text-danger"></i>
                    </div>
                </div>

                <button class="btn btn-outline-primary border border-primary hover-text-white w-200px mt-5" type="button">Crear elemento</button>

            </div>
        </div>

        <div class="col-md-6 position-sticky top-50 border-primary border border-1 rounded p-10">
            <div class="mb-8">
                <label for="visibility" class="required fw-boldest text-primary-800">Visibilidad</label>
                <select class="form-select text-black" id="visibility" required data-hide-search="true" data-control="select2">
                    <option value="public">Público</option>
                    <option value="private">Privado</option>
                </select>
            </div>

            <div class="mb-12">
                <label for="add_category" class="required fw-boldest text-primary-800">Seleccionar categorías</label>

                <div class="row g-5">
                    <div class="col-sm-9">
                        <input list="actual_categories" class="form-control text-black" id="add_category"  required />

                        <datalist id="actual_categories">
                            <option value="Categoría 1">
                        </datalist>

                    </div>

                    <button type="button" class="btn btn-primary col-sm-3" id="add_category_button">Añadir</button>
                </div>

                <span class="text-muted fs-8">Máximo 5 categorías</span>

                <div class="d-flex gap-4 mt-5" id="list_categories_container">
                    <div class="badge badge-light-primary category">Categoria 2 <i class="bi bi-x-lg ms-2"></i></div>
                </div>

            </div>

            <div class="mb-3 row">
                <div class="col-10">
                    <label for="range_date_highlight" class="fw-boldest text-primary-800">Destacar</label>
                    <input class="form-control" placeholder="Selecciona un rango de fechas" id="range_date_highlight"/>
                </div>

                <div class="col-2 d-flex align-items-center justify-content-center flex-column">
                    <span class="text-muted fs-7">Precio</span>
                    <span class="fw-boldest fs-2" id="highlight_price">0</span>
                </div>

            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-10">
        <button type="submit" class="btn btn-primary btn-lg fs-3">Crear lista</button>
    </div>
</form>
{% endblock %}

{% block custom_scripts %}
<script src="{% static 'scripts/pages/manage_list.js' %}" type="module"></script>
{% endblock %}