{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-8 h-100 h-md-auto p-3 text-center order-2 order-md-1">
           <h1 class="fw-boldest">Brawlers</h1>
        </div>

        <a href="/" class="col-md-4 h-100 h-md-auto p-3 d-flex text-center align-items-center gap-5 order-1 order-md-2">
            <i class="bi bi-person-circle text-muted fs-2qx user-avatar"></i>
            <h4 class="text-center text-muted m-0 ">David Pérez Fernandez</h4>
        </a>
    </div>

    <div class="progress mb-7" style="height: 20px" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar fw-bolder bg-primary" style="width: 25%">25%</div>
    </div>
    
    <div class="mt-4 row h-75" style="min-height: 67vh">
        <div class="position-relative col-lg-8 text-center d-md-grid d-flex flex-column justify-content-center align-items-center gap-4 bg-primary rounded-25px h-100 pb-12 border border-10 border-primary-400 p-7 p-md-12" style="grid-template-rows: auto 1fr">
            <div class="text-primary bg-white position-absolute end-0 m-5 top-0 fw-boldest fs-3 p-2 rounded-2 shadow flex-md-column" id="play_time">0s</div>

            <h1 class="text-white w-100">¿Cuál prefieres?</h1>

            <div class="gap-4 w-100 h-auto h-md-100 d-flex flex-column d-md-grid w-100 w-sm-500px" id="items_container" style="grid-template-columns: 1fr 1fr;">
                <div class="bg-white w-100 overflow-hidden mw-100 rounded d-none d-flex justify-content-center flex-column hover-bg-primary-200 hover-scale cursor-pointer p-5 align-items-center gap-10 item_option"  id="item_template_2_options">
                    <img src="" class="mw-75 mh-75 d-none d-md-flex item_image" style="object-fit: contain;">
                    <h1 class="m-0 fs-1 item_name fw-boldest" style="text-overflow: ellipsis"></h1>
                </div>
                
                <div class="bg-white w-100 overflow-hidden mw-100 rounded d-none d-flex justify-content-center flex-column hover-bg-primary-200 hover-scale cursor-pointer p-5 align-items-center gap-6 item_option" id="item_template_4_options">
                    <img src="" class="mw-50 mh-50 d-none d-md-flex item_image" style="object-fit: contain;">
                    <h1 class="m-0 fs-2 w-100 item_name ellipsis-two-lines fw-boldest"></h1>
                </div>
            </div>


            <button id="next_button" class="shadow position-absolute top-100 start-50 translate-middle btn btn-primary rounded-2 fw-boldest p-3 px-8 fs-6 align-center border border-3 border-primary-400 d-flex center justify-content-between align-items-center gap-1">
                <h1 class="m-0 text-white">Siguiente</h1>
                <i class="bi bi-caret-right-fill fs-20px"></i>
            </button>
        </div>

        <div class="col-lg-4 p-3 overflow-hidden d-lg-flex d-none">
            <div class="d-flex w-100 border border-gray-900 rounded d-flex flex-column align-items-center p-2 scrolleable h-100">
                <div class="d-grid border-bottom border-2 border-gray-500 w-90 py-3 align-items-center " style="grid-template-columns: 45px 1fr" id="item_top_1">
                    <img class="w-30px h-30px" src="/static/assets/media/medals/gold_medal.png">
                    <h1 class="fw-bolder ellipsis m-0 mw-100 top_item_name"></h1>
                </div>
                <div class="d-grid border-bottom border-2 border-gray-500 w-90 py-3 align-items-center align-items-center"  style="grid-template-columns: 45px 1fr" id="item_top_2">
                    <img class="w-30px h-30px" src="/static/assets/media/medals/silver_medal.png ">
                    <h1 class="fw-bolder ellipsis m-0 mw-100 top_item_name"></h1>
                </div>
                <div class="d-grid border-bottom border-2 border-gray-500 w-90 py-3"  style="grid-template-columns: 45px 1fr" id="item_top_3">
                    <img class="w-30px h-30px" src="/static/assets/media/medals/bronce_medal.png">
                    <h1 class="fw-bolder ellipsis m-0 mw-100 top_item_name"></h1>
                </div>
                <div class="d-none d-grid border-bottom border-2 border-gray-500 w-90 py-3 align-items-center" style="grid-template-columns: 45px 1fr" id="template_top_item">
                    <h1 class="fw-boldest px-2 text-muted m-0 top_number">4</h1>
                    <h1 class="fw-bolder ellipsis m-0 mw-100 top_item_name"></h1>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block custom_scripts %}
    <script>
        const share_code = "{{ share_code }}";
    </script>
    <script src="{% static 'scripts/pages/play_list.js' %}" type="module"></script>
{% endblock %}