{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-8 h-100 h-md-auto p-3 text-center order-2 order-md-1">
           <h1 class="fw-boldest">Brawlers</h1> {#Testing#}
        </div>

        <a href="/" class="col-md-4 h-100 h-md-auto p-3 d-flex text-center align-items-center gap-5 order-1 order-md-2">
            <i class="bi bi-person-circle text-muted fs-2qx user-avatar"></i>
            <h4 class="text-center text-muted m-0 ">David Pérez Fernandez</h4> {#Testing#}
        </a>
    </div>

    <div class="progress mb-7" style="height: 20px" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar fw-bolder bg-primary" style="width: 25%">25%</div>
    </div>
    <div class="row mt-4" style="height: 67vh">
        <div class="position-relative col-lg-8 h-100 d-grid gap-4 bg-primary text-center rounded-25px border border-10 border-primary-400 p-12" style="grid-template-rows: auto 1fr">
            <div class="text-primary bg-white position-absolute end-0 m-5 top-0 fw-boldest fs-3 p-2 rounded-2 shadow flex-md-column" id="play_time">0s</div> {#Testing#}

            <h1 class="text-white">¿Cuál prefieres?</h1>

            <div class="row two-items h-100 overflow-hidden" id="items_container">
                <div class="p-5 col-sm-6 h-100">
                    <div class="h-100 w-100 align-items-center selected_item gap-3 bg-white rounded hover-scale hover-bg-primary-200 cursor-pointer d-flex flex-column justify-content-around p-5">
                        <img src="https://images.pexels.com/photos/719396/pexels-photo-719396.jpeg?cs=srgb&dl=pexels-gabriel-peter-719396.jpg&fm=jpg" class="w-75 h-75" style="object-fit: contain">
                        <h1 class="m-0 overflow-hidden w-100">Medalla de oro</h1>
                    </div>
                </div>

                <div class="p-5 col-sm-6 h-100">
                    <div class="h-100 w-100 align-items-center gap-3 bg-white rounded hover-scale hover-bg-primary-200 cursor-pointer d-flex flex-column justify-content-around p-5">
                        <img src="https://w0.peakpx.com/wallpaper/163/338/HD-wallpaper-top-full-nature-full-for-pc-deskto-fondos-de-pantalla-naturaleza-hermosos-fondos-de-pantalla-fondo-de-pantalla-tropical-1600x900-nature.jpg" class="w-75 h-75" style="object-fit: contain">
                        <h1 class="m-0 overflow-hidden w-100">Medalla de oro</h1>
                    </div>
                </div>

{#                <div class="p-5 col-sm-6">#}
{#                    <div class="h-100 w-100 align-items-center gap-3 bg-white rounded hover-scale hover-bg-primary-200 cursor-pointer d-flex flex-column justify-content-around p-5">#}
{#                        <img src="https://w0.peakpx.com/wallpaper/163/338/HD-wallpaper-top-full-nature-full-for-pc-deskto-fondos-de-pantalla-naturaleza-hermosos-fondos-de-pantalla-fondo-de-pantalla-tropical-1600x900-nature.jpg" class="w-75 h-75" style="object-fit: contain">#}
{#                        <h1 class="m-0 overflow-hidden w-100">Medalla de oro asjkodskjd hijsd huj suidh s usdh jsd  jshd jsd hui shd</h1>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="p-5 col-sm-6">#}
{#                    <div class="h-100 w-100 align-items-center gap-3 bg-white rounded hover-scale hover-bg-primary-200 cursor-pointer d-flex flex-column justify-content-around p-5">#}
{#                        <img src="https://w0.peakpx.com/wallpaper/163/338/HD-wallpaper-top-full-nature-full-for-pc-deskto-fondos-de-pantalla-naturaleza-hermosos-fondos-de-pantalla-fondo-de-pantalla-tropical-1600x900-nature.jpg" class="w-75 h-75" style="object-fit: contain">#}
{#                        <h1 class="m-0 overflow-hidden w-100">Medalla de oro</h1>#}
{#                    </div>#}
{#                </div>#}

            </div>


            <button class="shadow position-absolute top-100 start-50 translate-middle btn btn-primary rounded-2 fw-boldest p-3 px-8 fs-6 align-center border border-3 border-primary-400 d-flex center justify-content-between align-items-center gap-1">
                <h1 class="m-0 text-white">Siguiente</h1>
                <i class="bi bi-caret-right-fill fs-20px"></i>
            </button>
        </div>

        <div class="col-lg-4 h-100 h-100 p-3 overflow-hidden d-lg-flex d-none">
            <div class="d-flex w-100 border border-gray-900 rounded d-flex flex-column align-items-center p-2 scrolleable h-100">
                <div class="d-grid border-bottom border-2 border-gray-500 w-90 py-3 align-items-center " style="grid-template-columns: 45px 1fr">
                    <div>
                        <img class="w-30px h-30px" src="/static/assets/media/medals/gold_medal.png">
                    </div>
                    <h1 class="fw-boldest ellipsis m-0 text-nowrap mw-100 overflow-hidden">Crow Sr eustakio señor de los cielos fernandez</h1>
                </div>
                <div class="d-grid border-bottom border-2 border-gray-500 w-90 py-3 align-items-center align-items-center"  style="grid-template-columns: 45px 1fr">
                    <div>
                        <img class="w-30px h-30px" src="/static/assets/media/medals/silver_medal.png ">
                    </div>
                    <h1 class="fw-boldest ellipsis m-0 text-nowrap mw-100 overflow-hidden">Crow</h1>
                </div>
                <div class="d-grid border-bottom border-2 border-gray-500 w-90 py-3"  style="grid-template-columns: 45px 1fr">
                    <div>
                        <img class="w-30px h-30px" src="/static/assets/media/medals/bronce_medal.png">
                    </div>
                    <h1 class="fw-boldest ellipsis m-0 text-nowrap mw-100 overflow-hidden">Crow</h1>
                </div>
                <div class="d-grid border-bottom border-2 border-gray-500 w-90 py-3 align-items-center" style="grid-template-columns: 45px 1fr">
                    <h1 class="fw-boldest px-2 text-muted m-0">4</h1>
                    <h1 class="fw-boldest ellipsis m-0 text-nowrap mw-100 overflow-hidden">Crow</h1>
                </div>
                <div class="d-grid border-bottom border-2 border-gray-500 w-90 py-3 align-items-center" style="grid-template-columns: 45px 1fr">
                    <h1 class="fw-boldest px-2 text-muted m-0">5</h1>
                    <h1 class="fw-boldest ellipsis m-0 text-nowrap mw-100 overflow-hidden">Crow</h1>
                </div>
                <div class="d-grid border-bottom border-2 border-gray-500 w-90 py-3 align-items-center" style="grid-template-columns: 45px 1fr">
                    <h1 class="fw-boldest px-2 text-muted m-0">6</h1>
                    <h1 class="fw-boldest ellipsis m-0 text-nowrap mw-100 overflow-hidden">Crow</h1>
                </div>


            </div>
        </div>

    </div>

{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'scripts/pages/play_list.js' %}" type="module"></script>
{% endblock %}