{% load static %}
{% load cloudinary %}
<!--begin::Lists View-->
<div class="card shadow mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header">
        <!--begin::Card title-->
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">Listas Creadas</h3>
        </div>
        <!--end::Card title-->
        <div class="card-toolbar">
            <a href="{% url 'create_list' %}" type="button" class="btn btn-primary">
                Crear Lista
            </a>
        </div>
    </div>
    <!--begin::Card header-->

    <!--begin::Card body-->
    <div class="card-body p-9">
        <div class="d-flex flex-column flex-sm-row flex-sm-stack mb-10">
            <div class="d-flex gap-4">
                <div class="d-flex align-items-center position-relative my-1">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                    <span class="svg-icon svg-icon-1 position-absolute ms-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                  transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                  fill="currentColor"></path>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->

                    <input id="search_input" type="text" class="form-control form-control-solid mw-250px w-100 ps-14"
                           placeholder="Buscar Listas..." value="{% if card_data.searching %}{{ card_data.search_query }}{% endif %}"
                            {% if card_data.searching %}autofocus{% endif %}
                            onfocus="this.selectionStart = this.selectionEnd = this.value.length;">
                </div>
            

                <button id="search_btn" class="btn btn-sm btn-primary my-4">
                    <span class="d-none d-sm-flex">Buscar</span>
                    <i class="bi bi-search d-flex d-sm-none fs-3"></i>
                </button>
            </div>

            <!--begin::Filter menu-->
            <div class="m-0">
                <!--begin::Menu toggle-->
                <a href="#" class="btn btn-sm btn-flex btn-light btn-active-primary fw-bolder"
                   data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                    <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                        <i class="bi bi-funnel-fill"></i>
                    </span>
                    Filtrar
                </a>
                <!--end::Menu toggle-->

                <!--begin::Menu 1-->
                <div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true" id="list_filters">
                    <!--begin::Header-->
                    <div class="px-7 py-5">
                        <div class="fs-5 text-dark fw-bolder">Opciones de Búsqueda</div>
                    </div>
                    <!--end::Header-->

                    <!--begin::Menu separator-->
                    <div class="separator border-gray-200"></div>
                    <!--end::Menu separator-->

                    <!--begin::Form-->
                    <div class="px-7 py-5">
                        <!--begin::Input group-->
                        <div class="mb-10">
                            <!--begin::Label-->
                            <label class="form-label fw-bold" for="visibility_filter">Visibilidad:</label>
                            <!--end::Label-->
                            <!--begin::Switch-->
                            <div>
                                <select class="form-select form-select-solid" data-kt-select2="true" id="visibility_filter"
                                        data-dropdown-parent="#list_filters" data-hide-search="true">
                                    <option {% if card_data.visibility == 'public' %}selected="selected"{% endif %} value="public">Pública</option>
                                    <option {% if card_data.visibility == 'private' %}selected="selected"{% endif %} value="private">Privada</option>
                                    <option {% if card_data.visibility is None %}selected="selected"{% endif %} value="all">Cualquiera</option>
                                </select>
                            </div>
                            <!--end::Switch-->
                        </div>
                        <!--end::Input group-->

                        <!--begin::Input group-->
                        <div class="mb-10">
                            <!--begin::Label-->
                            <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
                                <input id="show_deleted_filter" class="form-check-input" type="checkbox" {% if card_data.show_deleted %}checked{% endif %}/>
                                <span class="form-check-label fw-bold">Mostrar eliminados</span>
                            </label>
                            <!--end::Label-->
                        </div>
                        <!--end::Input group-->

                        <!--begin::Actions-->
                        <div class="d-flex justify-content-end">
                            <a type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2"
                               data-kt-menu-dismiss="true" href="{% url 'user' share_code=user.share_code %}?card=lists">Borrar Filtros
                            </a>
                            <button id="apply_filters_btn" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">Aplicar
                            </button>
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::Form-->
                </div>
                <!--end::Menu 1-->
            </div>
            <!--end::Filter menu-->
        </div>

        {% if card_data_empty and card_data.search_query is None and card_data.pagination.number == 1 %}
            <!--begin::Notice-->
            <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
                <!--begin::Icon-->
                <span class="d-flex align-items-center me-4">
                    <i class="bi bi-exclamation-circle-fill text-warning fs-2tx"></i>
                </span>
                <!--end::Icon-->

                <!--begin::Wrapper-->
                <div class="d-flex flex-stack flex-grow-1">
                    <!--begin::Content-->
                    <div class="fw-bold">
                        <h4 class="text-gray-900 fw-bolder">No has creado listas!</h4>
                        <div class="fs-6 text-gray-700">
                            Aún no has creado ninguna lista, empieza creando tu primera lista para que otros usuarios
                            jueguen.
                        </div>
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Notice-->
        {% elif card_data_empty and card_data.searching %}
            <!--begin::Notice-->
            <div class="notice d-flex bg-light-danger rounded border-danger border border-dashed p-6">
                <!--begin::Icon-->
                <span class="d-flex align-items-center me-4">
                    <i class="bi bi-exclamation-circle-fill text-danger fs-2tx"></i>
                </span>
                <!--end::Icon-->

                <!--begin::Wrapper-->
                <div class="d-flex flex-stack flex-grow-1">
                    <!--begin::Content-->
                    <div class="fw-bold">
                        <h4 class="text-gray-900 fw-bolder">No se han encontrado resultados!</h4>
                        <div class="fs-6 text-gray-700">
                            No se han encontrado listas con el término de búsqueda '{{ card_data.search_query }}'.
                        </div>
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Notice-->
        {% elif card_data.pagination.number != 1 and card_data_empty %}
            <a id="auto_redirect" class="page-link cursor-pointer" data-page="1">Volver a la primera página</a>
        {% else %}
            <div id="list_container">
                {% for list in card_data.data %}
                    <div class="d-flex flex-column position-relative flex-lg-row gap-5 gap-lg-10 border border-2 border-gray-400 shadow-sm rounded p-4 mb-6 cursor-pointer list_item"
                        data-url="{% url 'list_details' share_code=list.share_code %}">
                        <img class="mw-lg-200px mw-auto w-100 mh-100px h-100 rounded" alt="image" style="object-fit:cover"
                            src="{% if list.image %}{{ list.image }}{% else %}{% static 'assets/media/placeholders/list_mix2.png' %}{% endif %}">

                        <div class="w-100">
                            <h1 class="fw-boldest text-primary mw-lg-400px mw-auto text-center text-lg-start overflow-hidden text-nowrap"
                                style="text-overflow: ellipsis;">{{ list.name }}</h1>
                            <span class="fw-bolder text-muted d-flex justify-content-center justify-content-lg-start w-100">{{ list.date|date:"d/m/Y" }}</span>

                            <div class="d-flex gap-3 mt-2 mt-lg-4 position-absolute position-lg-relative top-0 start-0 m-2 m-lg-0">
                                {% if list.public %}
                                    <span class="badge badge-success list_visibility">Público</span>
                                {% else %}
                                    <span class="badge badge-secondary list_visibility">Privado</span>
                                {% endif %}
                            
                                {% if list.highlighted %}
                                    <span class="badge badge-primary">Destacado</span>
                                {% endif %}

                                {% if list.deleted %}
                                    <span class="badge badge-danger">Eliminado</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="d-flex flex-column flex-lg-row align-items-center gap-5 gap-lg-0">
                            <div class="d-flex flex-lg-column h-100 justify-content-between mw-350px">
                                <span class="d-flex justify-content-end fw-bolder text-muted min-w-60px gap-4">
                                    {{ list.play_count }}
                                    <i class="bi bi-controller fs-4"></i>
                                </span>

                                <span class="d-flex justify-content-end fw-bolder text-muted min-w-60px gap-4">
                                    {{ list.likes_count }}
                                    <i class="bi bi-heart fs-4"></i>
                                </span>

                                <span class="d-flex justify-content-end fw-bolder text-muted min-w-60px gap-4">
                                    {{ list.favorites_count }}
                                    <i class="bi bi-star fs-4"></i>
                                </span>

                                <span class="d-flex justify-content-end fw-bolder text-muted min-w-60px gap-4">
                                    {{ list.comments_count }}
                                    <i class="bi bi-chat fs-4"></i>
                                </span>
                            </div>

                            <div class="d-flex gap-2 ms-8">
                                <div class="d-flex flex-lg-column justify-content-center gap-2">
                                    <a href="{% url 'edit_list' share_code=list.share_code %}" class="btn btn-icon btn-primary" style="background-color: #E06DFF;"
                                        data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark"
                                        data-bs-placement="top" title="Editar Lista">
                                        <i class="bi bi-pencil-square fs-4"></i>
                                    </a>

                                    <button class="btn btn-icon btn-primary toggle_visibility_list"
                                            data-share_code="{{ list.share_code }}" style="background-color: #E06DFF;"
                                            data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark"
                                            data-bs-placement="bottom" title="Cambiar Visibilidad">
                                        <i class="bi bi-eye-{% if list.public %}slash-{% endif %}fill fs-4"></i>
                                    </button>
                                </div>

                                <div class="d-flex flex-lg-column justify-content-center gap-2 delete_list">
                                    {% if list.deleted %}
                                        <button class="btn btn-icon btn-primary restore_list" style="background-color: #E06DFF;"
                                                data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark"
                                                data-share_code="{{ list.share_code }}"
                                                data-bs-placement="top" title="Restaurar Lista">
                                                <i class="bi bi-arrow-counterclockwise fs-4"></i>
                                            </button>
                                    {% else %}
                                        <button class="btn btn-icon btn-primary delete_list" style="background-color: #E06DFF;"
                                            data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark"
                                            data-share_code="{{ list.share_code }}"
                                            data-bs-placement="top" title="Eliminar Lista">
                                            <i class="bi bi-trash-fill fs-4"></i>
                                        </button>
                                    {% endif %}

                                    <button class="btn btn-icon btn-primary highlight_list" style="background-color: #E06DFF;"
                                            data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark"
                                            data-bs-placement="bottom" title="Destacar Lista"
                                            data-share_code="{{ list.share_code }}" data-name="{{ list.name }}">
                                        <i class="bi bi-star-fill fs-4"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if card_data.pagination.has_other_pages %}
                <div class="text-center">
                    <ul class="pagination">
                        {% if card_data.pagination.has_previous %}
                            <li class="page-item">
                                <a class="page-link cursor-pointer" data-page="{{ card_data.pagination.previous_page_number }}">Anterior</a>
                            </li>
                        {% endif %}

                        {% for i in card_data.pagination.page_range %}
                            <li class="page-item {% if card_data.pagination.number == i %}active{% endif %}">
                                <a class="page-link cursor-pointer" data-page="{{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {% if card_data.pagination.has_next %}
                            <li class="page-item">
                                <a class="page-link cursor-pointer" data-page="{{ card_data.pagination.next_page_number }}">Siguiente</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <!--end::Card body-->
</div>
<!--end::Lists View-->

<div class="modal fade" tabindex="-1" id="highlight_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-start">
                <h3 class="modal-title d-flex w-100">Destacar <span class="text-primary ms-2 overflow-hidden text-nowrap" id="highlight_list_name" style="text-overflow: ellipsis"></span></h3>
            </div>

            <div class="modal-body p-10">
                <div class="mb-14 d-flex justify-content-center flex-column">
                    <label class="form-label fw-bolder fs-6 w-100 mb-3">Rango de fechas</label>
                    <input class="form-control position-relative mw-300px" placeholder="Selecciona un rango de fechas"
                                   id="range_date_highlight">
                </div>

                <label class="form-label fw-bolder fs-6 mb-5">Duraciones predeterminadas</label>
                <div class="d-flex w-100 justify-content-evenly gap-2 mb-3" id="highlight_days_buttons">
                    <button type="button" class="btn btn-outline btn-outline-primary btn-active-primary" id="highlight_1_day" data-days="1">1 día</button>
                    <button type="button" class="btn btn-outline btn-outline-primary btn-active-primary" id="highlight_3_day" data-days="3">3 días</button>
                    <button type="button" class="btn btn-outline btn-outline-primary btn-active-primary" id="highlight_7_day" data-days="7">1 semana</button>
                </div>
            </div>

            <div class="modal-footer justify-content-center gap-5">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary d-flex align-items-center" id="highlight_submit">Destacar<span class="mx-3">|</span><span id="highlight_price">0</span><i class="bi bi-gem ms-2"></i></button>
            </div>
        </div>
    </div>
</div>

<script>const baseURL = '{{ request.scheme }}://{{ request.get_host }}{{ current_path|safe }}';</script>
<script src="{% static 'scripts/pages/profile/list.js' %}" type="module" defer></script>